@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap'); /* Impport font family */

$brand-primary-clr: hsl(233, 26%, 24%);
$brand-secondary-clr-1: hsl(136, 65%, 51%);
$brand-secondary-clr-2: hsl(192, 70%, 51%);



/* $color: hsl(233, 8%, 62%);
$color: hsl(220, 16%, 96%);
$color: hsl(0, 0%, 98%);
$color: hsl(0, 0%, 100%); */

/* Fonts */
$base-font-family: 'Public Sans';
$base-fs: 18px;

$small-text-fs: 0.6rem;
$medium-text-fs: 0.8rem;
$large-text-fs: 1rem;
$x-large-text-fs: 1.7rem;

$small-title-fs: .9rem;
$medium-title-fs: 1.7rem;
$large-title-fs: 2.2rem;
$x-large-title-fs: 3rem;

$base-font-weight: 300;
$bold-font-weight: 500;


/* Text */
$title-text-clr: $brand-primary-clr;
$content-text-clr: hsl(233, 8%, 62%);
$nav-link-clr: hsl(233, 8%, 62%);
$nav-link-active-clr: $brand-primary-clr;
$link-hover-color: $brand-secondary-clr-1;

/* Background */
$nav-bg: hsl(0, 0%, 100%);
$section-light-bg: hsl(0, 0%, 98%);
$section-dark-bg: hsl(220, 16%, 96%);
$footer-bg: $brand-primary-clr;

/* Button */
$btn-bg: linear-gradient(
    to right,
    $brand-secondary-clr-1,
    $brand-secondary-clr-2,
    $brand-secondary-clr-1);

$btn-text-clr: hsl(0, 0%, 100%);
$btn-border-radius: 10rem;

/* Decoration */
$nav-link-underline: $btn-bg;
$card-border-radius: 5px;

/* Alignment and Spacing */
$title-line-height: 1.2;
$text-line-height: 1.6;

$title-margin: 1rem 0;
$text-margin: 1rem 0;

$section-padding: 4rem 6vw;
$top-nav-height: 4rem;

/* Others */

$smooth-transition: 0.4s ease;